<div class="menu-items">
  <a href="/settings" data-position="left">
    <i class="fas fa-cog"></i>
    <span>设置</span>
  </a>
  <a href="/night-mode" data-position="right">
    <i class="fas fa-moon"></i>
    <span>夜间模式</span>
  </a>
  ...
</div>

<div class="menu-items">
  <!-- 带二级菜单的示例项 -->
  <div class="menu-item has-submenu">
    <a href="#">
      <i class="fas fa-cog"></i>
      <span>设置</span>
      <i class="submenu-arrow fas fa-chevron-right"></i>
    </a>
    <div class="submenu">
      <a href="/profile"><i class="fas fa-user"></i>个人资料</a>
      <a href="/theme"><i class="fas fa-palette"></i>主题设置</a>
    </div>
  </div>
</div>
