<div class="float-menu">
  <button class="menu-trigger">☰</button>
  <div class="menu-items">
    <a href="/settings">设置</a>
    <a href="/night-mode">夜间模式</a>
    <a href="/feedback">反馈</a>
    <a href="/help">帮助</a>
  </div>
</div>
